@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

/*
https://coolors.co/f7f4f3-9a348e-a53f2b-4c230a-280004
*/
:root {
  --transform-box: #A594F9;
  --off-white: #F7F4F3;
  --primary-text:#280004;
  --secondary-text:#4C230A;
  --tertiary-text:#836257;
  --link: #A53F2B;
  --accent: #A53F2B;
  --page-wide: 1000px; /* 960 + 40 margin */
  --page-slim: 634px;
}
* {
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  color:var(--secondary-text);
  line-height: 1.5;
  font-size: 2rem;
  margin: 80px auto;
  max-width:1000px; /* 960px + 40 margin */
  background-color:var(--off-white);
}
main {
  margin: 0 20px;
  display:flex;
  gap:80px;
  align-items: flex-start;
  flex-direction: column;
}
.logo {
  width:100%;
  max-width:62px;
  height:auto;
  fill:var(--accent);
  z-index: 100;
}
section {
  height: auto;
  width: 100%;
  margin: 0 auto;
  display:flex;
  gap:40px;
  flex-direction: column;
}
section.wide, .wide {
  width: 100%;
  margin: 0 auto;
  max-width:var(--page-wide);
}
section.slim, .slim {
  width: 100%;
  margin: 0 auto;
  max-width:var(--page-slim);
}
.row {
  display:flex;
  flex-direction: row;
  gap:20px;
}
button {
	background:var(--accent);
	color:#FFFFFF;
	font-size: 100%;
	outline:none;
	overflow: visible;
	-webkit-appearance: button;
	padding:8px 16px;
	border:none;
}
a {
  color:var(--link);
  text-decoration: none;
  transition: all 400ms ease;
}
a:hover {
  opacity:80%;
  text-decoration: underline;
}
.hidden {
	display:none;
}
.u-m-0 {
  margin:0px;
}
h1, h2, h3 {
  font-weight: 700;
  color: var(--primary-text);
}
h2 {
  font-size: 2rem;
  font-weight: 700;
}
.text-small {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--tertiary-text);
}
.overline {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--tertiary-text);
}
[contenteditable] {
  outline: 0px solid transparent;
}
.line-break {
  width: 100%;
}

/*
==============================
========    Videos    ========
==============================
*/
.video-container {
  border-radius:24px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.ex-video {
  aspect-ratio: 1920/1080;
}
.eio-video {
  aspect-ratio: 2880/1800;
}

/* ===== Active Animations ===== */
.active .transform__box {
  transition: scale ease-in-out 400ms;
  scale: 1;
}
.active .transform__sizeText {
  opacity: 1;
}
.active .transform__inner {
  width: 100%;
  transition: all ease-in-out 800ms;
  transition-delay: 400ms;
  animation-name: type-blink;
  -webkit-animation-name: type-blink;
  animation-duration: 800ms;
}
.active.fade-in-up {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-delay: 200ms;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

/*
===========================
====== Transform-box ======
===========================
*/
.transform {
  color: var(--transform-box);
	order: 1;
  /* transform: rotate(0.02turn); */
  display: inline-block;
}
.transform:hover .transform__inner {
  border-bottom: 1px solid var(--transform-box);
}
.transform__box {
  padding: 2px 6px;
  border: 2px solid var(--transform-box);
  position: relative;
  background:#;
  scale: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Handles */
.transform__box:after,
.transform__box:before,
.transform__inner:before,
.transform__inner:after {
  height: 4px;
  width: 4px;
  background: #ffffff;
  border: 2px solid var(--transform-box);
  position: absolute;
  content: "";
}
.transform__inner {
  color: var(--primary-text);
  width: 0px;
  overflow: hidden;
  display: inline-block;
  border-right: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  white-space: nowrap;
}
.transform__inner:before {
  top: -5px;
  left: -5px;
}
.transform__inner:after {
  bottom: -5px;
  left: -5px;
}
.transform__box:before {
  top: -5px;
  right: -5px;
}
.transform__box:after {
  bottom: -5px;
  right: -5px;
}

/* GRID overlay */
/* Settings */
:root {
  --offset: 0rem;
  --max_width: 960px;
  --columns: 12;
  --gutter: 20px;
  --color: hsla(0, 100%, 100%, 0.15);
}

/* Helper variables */
:root {
  --repeating-width: calc(100% / var(--columns));
  --column-width: calc((100% / var(--columns)) - var(--gutter));
  --background-width: calc(100% + var(--gutter));
  --background-columns: repeating-linear-gradient(
    to right,
    var(--color),
    var(--color) var(--column-width),
    transparent var(--column-width),
    transparent var(--repeating-width)
  );
}

.grid-lines {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - (2 * var(--offset)));
  max-width: var(--max_width);
  min-height: 100vh;
  height:100%;
  content: '';
  background-image: var(--background-columns);
  background-size: var(--background-width) 100%;
  z-index: -1;
  pointer-events: none;
}

@media only screen and (max-width : 1000px ){
 .grid-lines {
   display: none;
 }
}

 @media only screen and (max-width : 500px ){

}

/*
===========================
======== Animation ========
===========================
*/
@keyframes type-blink {
  0% {
    border-right: 2px solid var(--hero-text);
  }
  20% {
    border-right: 2px solid rgba(0, 0, 0, 0);
  }
  40% {
    border-right: 2px solid var(--hero-text);
  }
  60% {
    border-right: 2px solid rgba(0, 0, 0, 0);
  }
  80% {
    border-right: 2px solid var(--hero-text);
  }
  100% {
    border-right: 2px solid rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes type-blink {
  0% {
    border-right: 2px solid var(--hero-text);
  }
  20% {
    border-right: 2px solid rgba(0, 0, 0, 0);
  }
  40% {
    border-right: 2px solid var(--hero-text);
  }
  60% {
    border-right: 2px solid rgba(0, 0, 0, 0);
  }
  80% {
    border-right: 2px solid var(--hero-text);
  }
  100% {
    border-right: 2px solid rgba(0, 0, 0, 0);
  }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,32px,0)
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,32px,0)
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
